<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test" preserve-order="true">
    <classes >
      <class name="testcases.AHomePageTest">
      </class>
    </classes>
  </test> <!-- Test -->

  <test name="Test1" preserve-order="true">
    <classes >
      <class name="testcases.DalPulsesTest">
      </class>
    </classes>
  </test> <!-- Test -->


 <test name="Test2" preserve-order="true">
    <classes >
      <class name="testcases.GheeOilsTest">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
