<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.GroceryHomePageTest"/>
      <class name="testcases.DalPulsesTest"/>
      <class name="testcases.GheeOilsTest"/>
      <class name="testcases.AttaTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
